/*Checkout top*/
#cart{
    margin-bottom: 35px;
}

#cart .cartItems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    font-family: "Nunito";
    font-size: 15px;
    font-weight: 600;
    color: #1A242F;
}

#cart .cartItems .productCtn{
    display: flex;
    flex-direction: column;
    position: relative;
}

#cart .cartItems .productCtn .remove{
    all: unset;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

#cart .cartItems .productCtn img{
    aspect-ratio: 1/1;
    border-radius: 8px;
    border: 1px solid #bbb;
    background-color: white;
    overflow: hidden;
}

#cart .cartItems .productCtn .name{
    font-family: "Nunito";
    font-size: 15px;
    font-weight: 600;
    color: #1A242F;
}

#cart .cartItems .productCtn .price{
    font-family: "Nunito";
    font-size: 15px;
    font-weight: 400;
    color: #747474;
}

#cart .cartItems .productCtn .qtyCtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart .cartItems .productCtn .qtyCtn .quantity{
    font-family: "Nunito";
    font-size: 15px;
    font-weight: 400;
    color: #747474;
    border: 1px solid #bbb;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

#cart .cartItems .productCtn .qtyCtn .quantity:focus{
    outline: 0;
}

#cart .cartItems .productCtn .qtyCtn .quantity::-webkit-outer-spin-button,
#cart .cartItems .productCtn .qtyCtn .quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#cart .cartItems .productCtn .qtyCtn input[type=number].quantity {
    -moz-appearance: textfield;
}


#cart .cartItems .productCtn .qtyCtn label{
    font-family: "Nunito";
    font-size: 15px;
    font-weight: 400;
    color: #1A242F;
}


.hline{
    border-top: 1px solid #bbb;
}

.total h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin: 0;
}

.total{
    position: relative;
    padding: 15px 0;
}

.total.loading:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.total h2 div{
    display: flex;
    flex-direction: column;
}

.total h2 div .abbr{
    font-size: 12px;
    font-weight: 400;
    color: #747474;
}

.disclaimer{
    font-family: "Nunito";
    font-size: 12px;
    font-weight: 400;
    color: #747474;
    margin-top: 20px;
}




/*Checkout bottom*/
#kioskCheckout{
    border: 1px #bbb solid;
    padding: 25px 50px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

#kioskCheckout label{
    font-family: "Nunito";
    font-size: 14px;
    font-weight: 400;
    color: #747474;
    margin-bottom: 10px;
}

#kioskCheckout .delivery, #kioskCheckout #chooseTime{
    width: 50%;
    margin-bottom: 30px;
}

#kioskCheckout .delivery select{
    all: unset;
    font-family: "Nunito";
    font-size: 15px;
    font-weight: 600;
    color: #1A242F;
    border-bottom: 1px solid #bbb;
    background-color: #F6F6F6;
    padding: 10px 15px;
    width: 100%;
}

#kioskCheckout .delivery option{
    font-family: "Nunito";
    font-size: 15px;
    font-weight: 600;
    color: #1A242F;
}

#kioskCheckout #time{
    display: flex;
    flex-direction: column;
}

#kioskCheckout #time div{
    display: flex;
    gap: 20px;
}

#kioskCheckout #time div label{
    font-family: "Nunito";
    font-size: 15px;
    font-weight: 600;
    color: #1A242F;
    margin: 0;
}

#kioskCheckout #time .radioGroup{
    margin-bottom: 10px;
}

#kioskCheckout #time div#chooseTime{
    gap: 10px;
    flex-direction: column;
    margin-top: 30px;
}



