#productListingShortcode .products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
}

@media (max-width: 1450px){
    #productListingShortcode .products{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1200px){
    #productListingShortcode .products{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1024px){
    #productListingShortcode .products{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 900px){
    #productListingShortcode .products{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 670px){
    #productListingShortcode .products{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 450px){
    #productListingShortcode .products{
        grid-template-columns: 100%;
    }
}

#productListingShortcode .product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#productListingShortcode picture{
    display: flex;
}

#productListingShortcode img{
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #BBBBBB;
    margin-bottom: 10px;
    width: 100%;
}

#productListingShortcode h2, #productListingShortcode p{
    margin: 0;
    font-family: "Nunito";
}

#productListingShortcode .productName{
    font-size: 15px;
    color: #1A242F;
    font-weight: 600;
    margin-bottom: 5px;
}

#productListingShortcode .productPrice{
    font-size: 15px;
    color: #FF945B;
    font-weight: 700;
}


#productListingShortcode .addContainer{
    display: flex;
    margin-top: 20px;
}

#productListingShortcode .addContainer input{
    background-color: #FFE6D8;
    border: none;
    border-radius: 8px 0 0 8px;
    width: 40px;
    padding: 10px;
    text-align: center;
    color: #FF945B;
    font-weight: 600;
}

#productListingShortcode .addContainer button{
    background-color: #FF945B;
    border: none;
    border-radius: 0 8px 8px 0;
    color: white;
    font-weight: 600;
}

#productListingShortcode .addContainer input:focus{
    outline: 0;
}

#productListingShortcode .addContainer input::-webkit-outer-spin-button,
#productListingShortcode .addContainer input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#productListingShortcode .addContainer input[type=number] {
    -moz-appearance: textfield;
}



/*Categories*/
#productListingShortcode .categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#productListingShortcode .categories a{
    background-color: #1A242F;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    font-family: "Nunito";
    font-size: 20px;
    padding: 20px 30px 20px 30px;
    aspect-ratio: 320/180;
    display: flex;
    align-items: end;
}


